.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.margin {
    margin: 0px 26px;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: .1px;
    font-weight: 600;
    color: #fff;
}